<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Главная</title>
     <script>
        function setDefaultValues() {
            var inputs = document.querySelectorAll("input[type='text'], input[type='number'], input[type='email']");
            inputs.forEach(function(input) {
                if (input.value === "") {
                    input.value = "None";
                }
            });
        }
    </script>
</head>
<body>
<main>
<form action="/save_table/" method="POST" onsubmit="setDefaultValues()">
    <p><input type="text" name="klass" value="{{klass}}"></p>
    <table>
        <thead>
        <tr>
            {% for name in top_data %}
            <th>{{name}}</th>
            {% endfor %}
        </tr>
        <tbody>

            {% for user in data %}
            <tr>
                <td class="user_id">{{user[0]}}</td>
                <td class="user_name">{{user[1]}}</td>
            {% for i in range(user|length-2) %}
            <td><input style="width:40px"
                    type="text" autocomplete="off"
                       {% if user[i+2] != 'None' %}

                       value="{{user[i+2]}}"
                       {% else %}
                       value=""
                       {% endif %}
                       name="id_{{user[1]}}_{{i+1}}"
                        placeholder="№{{user[0]}}"
                class="textInput grade" onclick="showButtons(event, this)"></td>
            {% endfor %}


            </tr>
    {% endfor %}
        </tbody>

    </table>
<input id="button" type="submit" value="0тправить">
   </form>

</main>

<div id="numberButtons" class="number-buttons">
        <button onclick="insertNumber(1)">1</button>
        <button onclick="insertNumber(2)">2</button>
        <button onclick="insertNumber(3)">3</button>
        <button onclick="insertNumber(4)">4</button>
        <button onclick="insertNumber(5)">5</button>
        <button onclick="insertNumber(6)">6</button>
        <button onclick="insertNumber(7)">7</button>
        <button onclick="insertNumber(8)">8</button>
        <button onclick="insertNumber(9)">9</button>
        <button onclick="insertNumber(10)">10</button>
        <button onclick="insertNumber('')">DEL</button>
    </div>

    <script>
        let currentInput = null;

        function showButtons(event, element) {
            currentInput = element;
            var buttons = document.getElementById('numberButtons');
            buttons.style.display = 'block';
            buttons.style.top = event.clientY +10
             + 'px';
            buttons.style.left = 20 + 'px';
        }

        function insertNumber(number) {
            if (currentInput) {
                currentInput.value = number;
            }
            var buttons = document.getElementById('numberButtons');
            buttons.style.display = 'none';
        }

        document.addEventListener('click', function(event) {
            var buttons = document.getElementById('numberButtons');
            if (!event.target.matches('.textInput') && !event.target.matches('.number-buttons button')) {
                buttons.style.display = 'none';
            }
        });
    </script>
</body>
</html>